@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-image: url('https://i.redd.it/qwd83nc4xxf41.jpg');
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.icon{
    margin: auto;
    height: 4rem;
    width: 4rem;
}
.container-fluid{
    background-color:#28a745;
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
    color: white;
    text-shadow: 0.1rem 0.1rem black;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    width: 100vw;
    height: 15%;   
}
.container1{
    height: 75%;
    width: 100vw;
    overflow-y: auto;
    scrollbar-width: none;
}
.container1::-webkit-scrollbar{
    display: none;
  }
  
.message{
    border: 0.0625rem solid green;
    border-radius:1rem;
    background-color:#E5FCAF;
    width: 42%;
    padding:0.625rem;
    margin: 1.1rem 0.75rem;
    font-weight: bold;
}
.left{
    float:left;
    clear: both;
    font-family: 'Nunito', sans-serif;
    font-size: large;
}
.right{
    float: right;
    clear: both;
    font-family: 'Nunito', sans-serif;
    font-size: large;
}
.send{
    position: fixed;
    bottom: 1rem;
    display: flex;
    height: 7vh;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100vw;
}
#messageInp{
    height: 7vh;
    border-radius: 1.3rem;
    width: 75vw;
    background-color:#e6fff2;
    border: 1px solid #28a745;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
#btn{
    border-radius: 1rem;
    height: 7vh;
    border-radius: 50%;
    border: 1px solid #28a745;
    margin-left:1rem;
}